/* Body element */

body{
    margin: 0;
    background-color: #E7E8EA;
    font-family: Arial, Helvetica, sans-serif;
}

.solidbrain-main-content__paragraph{
    color: #7D7D7D;
}

.solidbrain__header__content-style, .solidbrain-main-content__content-style{
    width: 100%;
    margin: 0 auto;
    max-width: 1136px;
    box-sizing: border-box;
    padding: 0 10px;
}
/* Bars at the top of the page */

.solidbrain-bars {
    display: flex;
    width: 100%;
}

.solidbrain-bars__bar {
    flex-grow: 1;
    height: 2.5em;
}

.solidbrain-bars__bar--blue {
    background: linear-gradient(90deg, #00b7f6, #057bc3);
}

.solidbrain-bars__bar--red {
    background: linear-gradient(90deg, #f48c67, #fa5300);
}

.solidbrain-bars__bar--green {
    background: linear-gradient(90deg, #c6f000, #00ca00);
}

/* Logo */
.solidbrain-logo {
    display: flex;
    float: left;
    margin-left: 50px;
}

.solidbrain-logo__link{
    padding: 20px;
}

/* Nav */
.solidbrain-nav {
    float: right;
}

.solidbrain-nav__list__el {
    display: inline-flex;
    float: left;
    width: 110px;
    text-transform: uppercase;
    border-right-style: solid;
    margin: 15px;
}

.solidbrain-nav__list__el__link{
    color: #000000;
    text-decoration: none;
}

.solidbrain-nav__list__el:last-child {
    border-right-style: none;
}

/* Main info */
.solidbrain-main-content{
    margin: 80px;
}

.solidbrain-main-content__paragraph {
    margin-right: 10px;
}

.solidbrain-main-content__svg{
    fill: #FFFFFF;
    align-self: flex-end;
    margin-left: 6px;
    width: 30px;
    height: 30px;
}

.solidbrain-main-content__little-ikons{
    width: 40px;
    height: 40px;
}

.solidbrain-main-content__main-info {
    border: solid #CFD0D2;
    background-color: #F2F2F4;
    padding: 10px;
}

.solidbrain-main-content__main-info__content {
   max-width: 50%;
   float: left;
   margin: 20px;
}

.solidbrain-main-content__down-content__mini-layout__article__picture {
    float: left;
    width: 30%;
    margin: 0;  
    padding: 0;
}

.solidbrain-main-content__down-content__mini-layout__article__text {
    float: right;
    width: 70%;
    margin: 0;  
    padding: 0;
}

.solidbrain-main-content__main-info__button-area__button {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #F5CB0C;;
    border: none;
    overflow: hidden;
      }
.solidbrain-main-content__main-info__button-area__button::before {
    content: "";
    width: 16px;
    height: 0px;
    border-top: 12px solid transparent;
    border-left: 23px solid #E44D1C;
    border-bottom: 12px solid transparent;
    margin-left: 10px;
    display: block;
    overflow: hidden;
}

.solidbrain-main-content__main-info__content--other-size {
   width: 40%;
}

.ssolidbrain-main-content__main-info__button-area {
    float:left;
}

.solidbrain-main-content__main-info__button-area--button-text {
    float:right;
}

.solidbrain-main-content__main-info__content--clear {
    clear: both;
}

.solidbrain-main-content__middle-footer {
    height: 70px;
    color: #FFFFFF;
    border: solid #000000;
    background-color: #000000;
    padding: 10px;
    margin: 0 80px;
    text-align: center;   
}

.solidbrain-main-content__middle-footer__header{
    height: 30px;
    width: 100%;
    
}

.solidbrain-main-content__middle-footer__header__title{
    margin: 0;
    float: left;
}

.solidbrain-main-content__middle-footer__contact-info {
    display: inline-flex;
    float: left;
}

.solidbrain-main-content__middle-footer__contact-info__phone{
    margin: 0 0 0 100px;
}

.solidbrain-main-content__middle-footer__contact-info__phone-numbers{
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 15px;
}

.solidbrain-main-content__middle-footer__password {
    float: right;
    display: flex;
}

.solidbrain-main-content__middle-footer__password__area {
    display: block;
    margin-right: 10px;
}

.solidbrain-main-content__middle-footer__password__area__password__label {
    display: block;
    text-align: left;
}

.solidbrain-main-content__middle-footer__password__area__password__input{
     border-radius: 7px;
}

.solidbrain-main-content__down-content {
    border: solid #CFD0D2;
    background-color: #F2F2F4;
    padding: 50px;
    display: inline-flex;
}

.solidbrain-main-content__down-content__mini-layout {
    border: solid #CFD0D2;
    background-color: #F2F2F4;
    margin-top: 70px;
}

.solidbrain-main-content__down-content__mini-layout__header{
    border-bottom: 5px solid #ffffff;
    background: linear-gradient(#181815, #565656);
    display: inline-flex;
    width: 100%;
  
}

.solidbrain-main-content__down-content__mini-layout__article__image {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    margin: 0;
    padding: 50% 10%;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.solidbrain-main-content__down-content__mini-layout__header__title{
    padding: 20px;
    color: #FFFFFF;
    margin: 0;
}

.solidbrain-main-content__down-content__mini-layout__article__title{
    color: #EEC53F;
}

.solidbrain-main-content__down-content__mini-layout__article__paragraph-styles{
    color: #FFFFFF;
    
}

.solidbrain-main-content__down-content__mini-layout__article--blue {
    background: radial-gradient(ellipse at center, #00b7f6, #057bc3);
}

.solidbrain-main-content__down-content__mini-layout__article--orange {
    background: radial-gradient(ellipse at center,#f48c67, #fa5300);
}

.solidbrain-main-content__down-content__mini-layout__article--green {
    background: radial-gradient(ellipse at center, #c6f000, #00ca00);
}

.solidbrain-main-content__down-content__button{
    height: 30px;
    margin-top: 20px;
    float: right;
    border-radius: 10px;
}

.solidbrain-main-content__down-content--button-first {
    background-color: #00BFFF;
}

.solidbrain-main-content__down-content--button-second {
    background-color: #F36E3E;
}

.solidbrain-main-content__down-content--button-third {
    background-color: #00ca00;
}

.solidbrain-main-content__down-content__mini-layout__article__triangle{
    width: 10px;
    height: 0px;
    border-top: 12px solid transparent;
    border-left: 20px solid #979191;
    border-bottom: 12px solid transparent;
    margin: 15px 0 0 20px;
}

.solidbrain-main-content__down-content__mini-layout__article__triangle--blue {
    border-left: 20px solid #00B7F6;
}

.solidbrain-main-content__down-content__mini-layout__article__triangle--orange {
    border-left: 20px solid #F48C67;
}

.solidbrain-main-content__down-content__mini-layout__article__triangle--green {
    border-left: 20px solid #c6f000;
}

.solidbrain-main-content__down-content__column {
    padding: 20px;
}
